body {
  font-family: "Fredoka", sans-serif;
  color: #083d55;
  background-color: #1e90ff;
}

h1.title {
  padding-top: 25px;
  text-align: center;
}
h3.specificheatinfo {
  padding-top: 25px;
  text-align: center;
}

div.specificheatinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.energyinput1 {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.massinput1 {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.tempinput1 {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.specificheatbutton {
  padding-top: 20px;
  text-align: center;
}

button.specificheatbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}

div.resultdiv1 {
  text-align: center;
  padding-top: 10px;
  font-family: "Fredoka", sans-serif;
}

h3.heatinfo {
  padding-top: 25px;
  text-align: center;
}

div.heatinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.energyinput2 {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.tempinput2 {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.heatbutton {
  padding-top: 20px;
  text-align: center;
}

button.heatbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}

div.resultdiv2 {
  text-align: center;
  padding-top: 10px;
  font-family: "Fredoka", sans-serif;
}

h3.heatenergyinfo {
  padding-top: 25px;
  text-align: center;
}

div.heatenergyinput {
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

input.massinput2 {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.shinput1 {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

input.tempinput3 {
  text-align: center;
  height: 30px;
  width: 250px;
  font-family: "Fredoka", sans-serif;
}

div.heatenergybutton {
  padding-top: 20px;
  text-align: center;
}

button.heatenergybutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}

div.resultdiv3 {
  text-align: center;
  padding-top: 10px;
  font-family: "Fredoka", sans-serif;
}

div.backbutton {
  padding-top: 25px;
  text-align: center;
}

button.backbutton {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  height: 40px;
  width: 250px;
  border-radius: 10px;
}
